.promo__subtitle {
  max-width: 527px;
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 57px;
  font-weight: 400;
  margin: 0 auto;
  color: #4f79a4d4;
}
